nav {
    background: rgba(0,0,0,0.1);
    width: max-content;
    display: block;
    padding: 1.5rem 1.5rem ;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding-left:2.4rem;
    padding-right:2.4rem;
    border-radius:20%;
    display: flex;
    
    font-size: 1.1rem;
}

nav a:hover {
    background: transparent;
}

nav a.active {
    
    color: var(--color-bg);
    
   
    
}
nav a.active:hover {
    background: transparent;
    
   
    
}
.nav-icon{
    width: 1.5rem;
    height: 1.5rem;
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =================== */

@media screen and (max-width: 600px){
    nav {
       display: none;
    }
}