.main__header{
    width: 100vw;
    height:calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}


.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.main__header-left{
    margin-top: -3rem;
}
.main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.main__header-left p{
    margin: 1rem 0 3.5rem;
}

.main__header-right{
  display: grid;
  place-items: center;
  position: relative;  
}

.main__header-circle{
    width: 35rem;
    height: 35rem;
    background: linear-gradient(75deg, #867363,transparent);
    position: absolute;
    border-radius: 50% 60% 50% 60%;
    transition: all 400ms ease;
   
    
}
.main__header-image img{
    
    transform: rotate(0);
    border-radius: 60% 50% 60% 50%;
}

.main__header-image img:hover{
    overflow: hidden;
    transform: rotate(20deg);
}
/* =============== CAT =============== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem ;
    justify-content: center;
}
/* ============== MEDIA QUERIES =============== */

/* Mobile Devices */
@media screen and (max-width: 767px) {
    .main__header-container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  
    .main__header-circle {
      display: none;
    }
  
    .main__header-left h4 {
      font-size: 1rem;
    }
  
    .main__header-left p {
      font-size: 0.9rem;
    }
  }
  
  /* Tablet Devices */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .main__header-container {
      gap: 4rem;
    }
  
    .main__header-right .main__header-circle {
      width: 20rem;
      height: 20rem;
    }
  
    .main__header-left h4 {
      font-size: 1.2rem;
    }
  
    .main__header-left p {
      font-size: 1.1rem;
    }
  }